body{
    background-color: #69B9B6;
}
.enlaces{
    font-family: sans-serif;
    background: #FDA966;
    border-color: #994807;
    width: 200px;
    height: 45px;
    font-size: 30px;
    padding: 4px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: black;
    border: 1px solid black;
    align-self: center;
    
    background-image: -webkit-linear-gradient(top, #FFC190, #DF853C);
    background-image: -moz-linear-gradient(top, #FFC190, #DF853C);
    background-image: -ms-linear-gradient(top, #FFC190, #DF853C);
    background-image: -o-linear-gradient(top, #FFC190, #DF853C);
    background-image: linear-gradient(to bottom, #FFC190, #DF853C);
}
.enlaces:hover{
    background: #DF853C;
    cursor: pointer;
    border: 1px solid black;
    
    background-image: -webkit-linear-gradient(top, #FDA966, #C0641B);
    background-image: -moz-linear-gradient(top, #FDA966, #C0641B);
    background-image: -ms-linear-gradient(top, #FDA966, #C0641B);
    background-image: -o-linear-gradient(top, #FDA966, #C0641B);
    background-image: linear-gradient(to bottom, #FDA966, #C0641B);
}